
.parallax-viewport {
    position: relative;
    overflow: hidden;
    height: 465px;
}

.parallax-layer {
    position: absolute;
    width: 2000px;
    height: 680px;
    top: -135px;
}

.slider-bot-background, .slider-top-background {
    height: 465px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.slider-bot-background ul, .slider-top-background ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.parallax-layer.par-box {
    background: url('/assets/basetheme-design/images/parallax/box.png') center center no-repeat;
    z-index: 1;
}

.parallax-layer.par-blue-ball {
    width: 100%;
    height: 465px;
    top: 0;
    background: url('/assets/basetheme-design/images/parallax/blue_ball.png') center center no-repeat;
    z-index: 2;
}

.parallax-layer.par-small-comp {
    background: url('/assets/basetheme-design/images/parallax/small_comp.png') center center no-repeat;
    z-index: 3;
}

.parallax-layer.par-blue-ball-b {
    background: url('/assets/basetheme-design/images/parallax/blue_ball_b.png') center center no-repeat;
    z-index: 4;
}

.parallax-layer.par-big-comp {
    background: url('/assets/basetheme-design/images/parallax/big_comp.png') center center no-repeat;
    z-index: 5;
}

.parallax-layer.par-red-ball {
    height: 465px;
    top: 0;
    background: url('/assets/basetheme-design/images/parallax/red_ball.png') top center no-repeat;
    z-index: 6;
}
