html
{
    min-height: 100%;
    min-width: 100%;
    -ms-text-size-adjust: none;
    min-width: 1030px;

}

body,div,dl,dt,dd,ul,ol,li,nav,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,a
{
    margin: 0;
    padding: 0;
    border-width: 0;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    font-family: 'PT Sans', sans-serif;
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,img
{
    border: 0;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
}

address,caption,cite,code,dfn,em,strong,th,var,optgroup
{
    font-style: inherit;
    font-weight: inherit;
}

del,ins
{
    text-decoration: none;
}

li
{
    list-style: none;
}

caption,th
{
    text-align: left;
}

h1,h2,h3,h4,h5,h6
{
    font-size: 100%;
    font-weight: inherit;
}

input,button,textarea,select,optgroup,option
{
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

body
{
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-family: 'PT Sans', sans-serif;
    text-align: left;
    font-size: 14px;
    line-height: 17px;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;/* kerning, primarily */
    -moz-font-feature-settings: 'liga';
    -ms-font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
}





/*@media screen and (-webkit-min-device-pixel-ratio:0)
{
	body { text-rendering:auto; }
}*/
.cont {
    position:relative;
    margin: 0 auto;
    padding: 2% 3% 2% 3%;
    width: 1030px;
}
.what {min-height: 625px;}
.maincont {padding-top:0 !important;padding-bottom: 0 !important;}
.slidercont{padding-top:0 !important;padding-bottom: 0 !important;/*min-width: 100%;*/padding-left:0;padding-right: 0 !important;}
.slider-wrapper{max-width: 1030px;margin: 0 auto;}

h1, h2 {font-size: 36px;color: #8CC63F;text-transform: uppercase;margin-bottom: 1%;}
h3 {font-size: 34px;color: #39B54A;margin: 7% 0 4% 0;line-height:27px;}
h4 {font-size: 34px;text-transform: uppercase;line-height:34px;}

.fancybox-skin form input[type=text] {width:89% !important;}
.fancybox-skin h3 {text-align:left !important;}
.fancybox-opened .fancybox-skin {z-index:10;}
#btn-close {    z-index: 10000;position: absolute;top: 1%;right: 0;background-image: url('/assets/basetheme-design/images/closebtn.png');width: 25px;height: 25px;cursor: pointer;background-size: 25px;background-repeat: no-repeat;}

.bx_order_make .bx_block input[type="text"], .bx_order_make .bx_block textarea {max-width: 100% !important;height: 52px !important;}
.bx_order_make .bx_block.r1x3.pt8 {margin-top:9px;}
.bx_ordercart_order_pay_center, .zakaz {width:68%;}

.contact-img {width: 352px;height: 379px;float: right;font-size: 20px;}
.cont-info {font-size:20px;width:38%;line-height: 33px;margin-top:5%;}
.kod {font-size:20px;line-height:22px;}

.questions {margin-top:5%;}
.questions a {display:block;font-size:17px;margin-bottom: 10px;color:#000;}
.questions .active-link, .questions a:hover {text-decoration:underline;color: #009245;}
.questions div {font-size:14px;margin-bottom: 10px;}

.how-img {width: 45%;float: right;margin-top: -13%;position: relative;height:415px;}
.how-img .first {width: 420px;position: absolute;right: 0;}
.how-img .last{width: 215px;position: absolute;left: 0;top: 157px;}
.how-img a img {position: absolute;z-index: 11;width: 100px;left: 46%;top: 38%;}

.what-info {font-size: 18px;width: 26%;line-height: 22px;margin-bottom: 7%;}

.about-icon {width: 55%;font-size: 14px;line-height: 17px;}
.about-icon span {font-weight:bold;display:block;}
.about-icon img {width:34px;float:left;margin-right: 15px;}
.about-icon td {height: 75px;width: 30%;vertical-align: top;}

.slidermain .title-blue {margin-top: 38px;line-height: 38px;font-size: 40px;}
.slidermain .green {color:#8dc63f !important;}
.slidermain .title-turq {margin-top: 38px;line-height: 38px;font-size: 40px;display:block;width:800px;}
.slidermain .title-turq  span {font-size: 48px;font-weight: 800;font-family: 'Open Sans', sans-serif;}
.slidermain {    margin-top: -17px !important;height:465px;}
.slidermain .info {}
.slidermain .title {margin-top:25px !important;}
.slidermain .title span:first-child {font-weight: 300;font-family: 'Open Sans';font-size: 38px;color: #424242;}
.slidermain .title span:last-child {color:rgb(141,198,63);font-size: 48px;font-weight: 800;font-family: 'Open Sans', sans-serif;}
.slidermain .title-blue span:last-child {font-weight: 300;font-family: 'Open Sans';font-size: 38px;color: #424242;}
.slidermain .title-blue span:first-child {color:  #3fa5c6;font-size: 48px;font-weight: 800;font-family: 'Open Sans', sans-serif;}
.slidermain .hr1 {float: left;margin-left: 0px;margin-top: 13px;font-family: 'Open Sans', sans-serif;}
.slidermain .more {margin-top: 72px;color:#575757;font-size:17px;margin-left: 46%;font-family: 'Open Sans', sans-serif;}
.slidermain .moreleft {margin-left: 0% !important;margin-top: 63px !important;}
.slidermain .moreviolet {margin-top: 45px !important;}
.slidermain .moreleft .lighttxt {display:block;}
.slidermain .moremin {margin-left: 27% !important;}
.slidermain .more .prognum {font-weight:bold;line-height: 29px;}
.slidermain .more .prognum img {float:left;margin-top: 4px;margin-right: 6px;}
.slidermain .violetimg {float: left;margin-top: 12px;margin-right: 11px;}
.slidermain .more  .priceviolet{line-height: 171px;margin-top:37px !important;}
.slidermain .more .lighttxt {font-weight:300;}
.slidermain .more .pricetxt {margin-top: 24px;display: block;font-size: 30px;font-weight: 300;}
.slidermain .more .bigprice {color:rgb(141,198,63);font-size: 56px;font-weight: 800;}
.slidermain .sb_slaid {background-color: #8dc63f;width: 262px;height: 44px;display: block;color: #fff;padding: 20px 0 0 57px;font-size: 29px;font-family: 'Open Sans', sans-serif;font-weight:300;position: absolute;bottom: 42px;}
.slidermain .image {float:right;}
.slidermain .imagetop {margin-top: 12%;float:right;margin-right:8%;}
.slidermain .imagemidle {    margin-top: 10.9%;margin-right: 17%;float:right;}
.slidermain .imagebottom {margin-top: 194px;margin-right: 46%;float: right;}
.slidermain .imagebottom  img{max-width: none !important;}
.slidermain .craplack {color: #b34548 !important;}
.slidermain .violet {color:  #922cc1 !important;}
.slidermain .turq {color:  #2ebfa5 !important;}
.slidermain .turq-bg {background-color: #2ebfa5 !important;}
.slidermain .violet-bg {background-color: #922cc1 !important;right: 8%;}
.slidermain .craplack-bg {background-color: #b34548 !important;}
.slidermain .ohra {color: #d8b820 !important;}
.slidermain .ohra-bg {background-color: #d8b820 !important;margin-top: 40px !important;}
.slidermain .blue {color:  #3fa5c6 !important;}
.slidermain .blue-bg{background-color:  #3fa5c6 !important;}

.bx-wrapper .bx-pager {bottom: 10px !important;z-index: 1000 !important;left: -76% !important;}
.bx-wrapper .bx-viewport {height: 465px !important;}
.bx-wrapper .bx-pager.bx-default-pager a {-moz-border-radius: 0 !important;-webkit-border-radius: 0 !important;border-radius: 0 !important;}

.row-order {height: 943px;-pie-box-shadow: none;box-shadow: 0px 8px 8px rgba(255,255,255,0.5);border-style: solid;border-color: rgba(128, 128, 128, 0.08);border-width: 1px 0px;background: transparent url("/assets/basetheme-design/images/vegetables.png") repeat left top;display:none;}

.popup {    display: none;
    overflow-y: auto;
    background: #fff;
    z-index: 10000;
    padding: 30px;
    width: 563px;
    height: 320px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -250px;
    margin-left: -25%;
}
.popupbig {width: 800px !important;height: 500px !important;left:46% !important;}

.hide-layout {
    background: #000;
    bottom: 0;
    display: none;
    height: 100%;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
}

h1 .zag {margin-bottom:5%;display:block;}

.childmenu {

    box-shadow: 0px 23px 21px 0px rgba(0, 0, 0, 0.3);

    position: absolute;
    z-index: 9999;
    width: 100%;
    left: 0;
    background: #fff;
    top: 55px;
    text-align: left;
    opacity: 0;
    display: block;
    transition: opacity 0.3s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-top: -20px;
}


.top_main li:hover .childmenu
{

    opacity: 1;
    height: auto;
    border-top: 2px solid #009245;
    border-bottom: 1px solid #009245;
}
.childmenu .leftblock {width: 38.6%;border-right: 1px dotted #b7b7b7;
    display: inline-block;}
.childmenu .leftblock span {display:block;font-size:18px;height: 31px;margin-bottom: 12px;padding: 10px;}
.childmenu .leftblock span:hover {background-image: url('/assets/basetheme-design/images/bgspan.png');}
.childmenu .leftblock span:hover .link a {color:#fff;}
.childmenu .leftblock img {float:left;margin-right: 33px;width:39px;height:39px;}
.childmenu .leftblock span .link a {color:#000; display:block;line-height: 30px;}
.childmenu .leftblock span .link a:hover {color:#fff; }

.childmenu .leftblock span .link .rightblock {
    position: absolute;
    /* right: 26%; */
    top: 0;
    left: 36.6%;
    width: 27%;
    vertical-align: top;
    /* margin-left: 16%; */
    display: none;
    text-transform: none;
    padding-left: 8%;

}
.childmenu .leftblock span:hover .link .rightblock
{
    display:inline-block;

}
.childmenu .leftblock span:hover .link .rightblock .span1 {font-size:16px; color:#000000}
.childmenu .leftblock span:hover .link .rightblock div {font-size:18px;margin-top: 15%;line-height: 18px;}
.childmenu .leftblock span:hover .link .rightblock div a {color:#000;}
.childmenu .leftblock span:hover .link .rightblock div a:hover {color:#000;}

a
{
    color: inherit;
    text-decoration: inherit;
}

a:link
{
    color: #92909A;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

a:visited
{
    color: #92909A;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

a:hover
{
    color: #ED8B70;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

a:active
{
    color: #92909A;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

a.nontext /* used to override default properties of 'a' tag */
{
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
}

.greenh1 {
    /*font-size: 41px;
    color: #8CC63F;
    margin-bottom: 20px;*/
}

.normal_text
{
    color: #000000;
    direction: ltr;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 17px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
    vertical-align: 0px;
    padding: 0px;
}

.Body
{
    color: #606060;
    font-family: source-sans-pro, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 0px;
}

.header .header_size
{
    position: relative;
    margin: 0 auto;
    padding: 1% 3% 1% 3%;
    max-width: 1030px;
}

.header .logo {
    float: left;
    margin-top: -21px;
    margin-left: -85px;
}
.header .logo  img{/*height:63px;*/}

.header .phones {
    float: right;
    font-size: 17px;
    text-align: right;
    background: url(/assets/basetheme-design/images/phones_ico.jpg) left top no-repeat;
}

.header .phones div {
    margin-bottom: 7px;
}

.header .phones a {
    color: #000;
    border-bottom: 1px dotted #000;
}

.top_main {
    border-top: 1px solid #8CC63F;
    border-bottom: 1px solid #BCBCBC;
    position:relative;
}

.top_main ul {
    display: inline-block;
    margin-bottom: -4px;
}

.top_main li {
    float: left;
    padding: 10px 20px 8px 20px;
    list-style: none;
}

.top_main li.ico {
    background: url(/assets/basetheme-design/images/main_top_ico.jpg) 0px center no-repeat;
    width: 5px;
    height: 5px;
    padding: 16px 0;
}

.top_main li.act, .top_main li:hover {
    border-bottom: 2px solid #009245;
}

.top_main li.ico:hover {
    border: none;
}

.top_main a {
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
    font-weight: normal;
}


.footer {
    border-top: 1px solid #BCBCBC;
}

.left {
    float: left;
}

.footer {
    text-align: center;
    font-size: 16px;
}

.footer .links1, .footer .links2, .footer .links3, .footer .contacts {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 0 5%;
}

.footer .links1
{
    margin-left:0;
    float:left;
}

.footer .contacts
{
    margin-right:0;
    float:right;
}
.footer .contacts {
    margin-left: 40px;
    background: url(/assets/basetheme-design/images/phones_ico.jpg) left 26px no-repeat;
    padding-left: 26px;
}

.footer .phone {
    font-size: 22px;
}

.footer .links1 a {
    color: #000;
}

.footer div {
    margin-bottom: 8px;
}

.footer .links2 div, .footer .links3 div {
    margin-bottom: 6px;
}

.footer .links1 a:hover, .other_content_index a:hover {
    text-decoration: underline;
}

.footer .sc_ico {
    display: inline-block;
    border-radius: 26px;
    width: 26px;
    height: 26px;
}

.sc_ico.fb {
    background: url(/assets/basetheme-design/images/fb_ico.jpg) center center;
}

.sc_ico.fb:hover {
    background-image: url(/assets/basetheme-design/images/fb_icoH.jpg);
}

.sc_ico.ok {
    background: url(/assets/basetheme-design/images/ok_ico.jpg) center center;
}

.sc_ico.ok:hover {
    background-image: url(/assets/basetheme-design/images/ok_icoH.jpg);
}

.sc_ico.vk {
    background: url(/assets/basetheme-design/images/vk_ico.jpg) center center;
}

.sc_ico.vk:hover {
    background-image: url(/assets/basetheme-design/images/vk_icoH.jpg);
}

.sc_ico.in {
    background: url(/assets/basetheme-design/images/in_ico.jpg) center center;
}

.sc_ico.in:hover {
    background-image: url(/assets/basetheme-design/images/in_icoH.jpg);
}

.slider_top {
    position: relative;
}

.slider_top .title {
    line-height: 48px;
    font-size: 40px;
    color: #8CC63F;
    margin-top: 70px;
    height:82px;
}

.slider_top .hr {
    height: 1px;
    width: 200px;
    background: #8CC63F;
    margin: 20px 50px 20px 0px;
}

.slider_top .desc {

}

.hr_index {
    height: 15px;
    background: url(/assets/basetheme-design/images/hr_index.jpg) center center;
    margin-bottom: -15px;
}

.slider_top_stat {
    display: none;
    text-align: center;
    line-height: 32px;
    font-size: 27px;
    color: #8CC63F;
}

.programms {
    margin: 20px auto;
}

.programms .item {
    display:inline-block;
    width: 120px;
    margin: 0 51px;
    vertical-align:top;
}

.programms .item:nth-child(1)
{
    margin-left:0;
}

.programms .item:nth-child(5)
{
    margin-right:0;
}

a.b {
    font-weight: bold;
}

.programms img {
    height: 100px;
}

.programms .hr {
    clear: both;
    display: none;
    border-bottom: 1px dotted #8CC63F;
}

.podbor {
    background: url(/assets/basetheme-design/images/podbor_bg.jpg);
    border-top: 1px #CAE2A8 dashed;
    border-bottom: 1px #CAE2A8 dashed;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
}

.greentitle {
    font-size: 28px;
    color: #62A830;
    line-height: 34px;
    margin-bottom: 10px;
}

.podbor .vp {
    text-transform: uppercase;
    margin-top: 10px;
    background: url(/assets/basetheme-design/images/lIcoVP.jpg) left center no-repeat;
    padding-left: 20px;
    display: inline-block;
}

.podbor a.vp {
    color: #7D001B;
    font-size: 13px;
}

.podbor .items {
    width: 550px;
    margin-left: 50px;
}

.podbor .item {
    display: inline-block;
    width: 230px;
    margin: 10px 20px;
    text-align:left;
}

.podbor .item img {
    float: left;
    width: 34px;
    margin-right: 10px;
}

.podbor .item b {
    display: block;
}

.other_content_index {
    margin-bottom: 20px;
}
.other_content_index  span {    text-transform: uppercase;}

.other_content_index .item1, .other_content_index .item2, .other_content_index .item3 {
    display: inline-block;
    /* float: left; */
    height: 118px;
    background: url(/assets/basetheme-design/images/otherIco1.jpg) center left no-repeat;
    padding-left: 160px;
    width: 150px;
    margin: 0 10px;
    font-size: 14px;
    padding-top: 30px;
    vertical-align: text-top;
    text-align: left;
}

.other_content_index a {
    text-transform: uppercase;
    color: #000;
}

.other_content_index p {
    margin-top: 5px;
}

.other_content_index .item2 {
    background-image: url(/assets/basetheme-design/images/smicircle.png);
}

.other_content_index .item3 {
    background-image: url(/assets/basetheme-design/images/otherIco3.jpg);
}

.other_content_index {
    margin: 20px auto;
    text-align:center;
}

.reviews .item, .reviews .item2 {
    clear: both;

}

.reviews .photo {
}

.reviews .float {
    float: left;
    margin: 0 50px 30px 0;
}

.reviews .info
{
    background: #f4f4f4;
    vertical-align: middle;
    display: table-cell;
    padding: 15px;
    margin: 0;
    border-radius: 5px;
    position:relative;
}

.reviews .item2 .float {
    float: right;
    margin: 0 0 30px 50px;
}

.reviews .photo img {
    width: 100%;
}

.reviews .title {
    line-height: 25px;
    font-size: 21px;
    color: #666666;
    margin: 0 0 10px 0;
}

.reviews .title b {
    color: #009245;
}

.reviews .text {
    line-height: 24px;
    font-size: 17px;
    color: #000000;
    margin: 0;
}

.reviews .item .info .rev
{
    background: url(/assets/basetheme-design/images/rev_left.png) no-repeat;
    width: 11px;
    height: 21px;
    position: absolute;
    top: 40px;
    left: -11px;
}

.reviews .item2 .info .rev
{
    background: url(/assets/basetheme-design/images/rev_right.png) no-repeat;
    width: 11px;
    height: 21px;
    position: absolute;
    top: 40px;
    right: -11px;
}

.about_us_top h1
{
    /*font-size: 33px;
    color: #8CC63F;
	margin-bottom: 0 !important;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;*/
}
.about_us_top
{
    display:inline-block;
    width: 81%;
}
.about_us_top p {
    margin-top:5%;
    font-size: 16px;
    color: #000000;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;

}

.howwork {margin-top:5%;}



img.human
{
    display:inline-block;
    width: 16%;
}


.why_us
{
    margin-top: 50px;
}

.why_us h1
{
    line-height: 40px;
    font-size: 33px;
    color: #8CC63F;
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 40px;
    font-weight: 400;
}

.why_us div .row
{
    display:inline-block;
    width:45%;
    vertical-align:top;
    margin-right:9%;
    margin-bottom: 7%;
}

.why_us div .row:nth-child(2n)
{
    margin-right:0;
}

.why_us div .row .icon
{
    display: inline-block;
    width: 100px;
    height:100px;
    background-color: #8CC63F;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 45px;
    border-radius: 1000px;
}

.why_us div .row:nth-child(1) .icon
{
    background-image: url(/assets/basetheme-design/images/row_1.png);

}

.why_us div .row:nth-child(2) .icon
{
    background-image: url(/assets/basetheme-design/images/row_2.png);

}

.why_us div .row:nth-child(3) .icon
{
    background-image: url(/assets/basetheme-design/images/row_3.png);

}

.why_us div .row:nth-child(4) .icon
{
    background-image: url(/assets/basetheme-design/images/row_4.png);

}

.why_us div .row:nth-child(5) .icon
{
    background-image: url(/assets/basetheme-design/images/row_5.png);

}

.why_us div .row:nth-child(6) .icon
{
    background-image: url(/assets/basetheme-design/images/row_6.png);

}

.why_us div .row .txt
{
    display: inline-block;
    width: 72%;
    vertical-align: top;
    margin-left: 5%;
    font-size:16px;
}

.why_us div .row .txt span
{
    display:block;
    margin-bottom: 10px;
    line-height: 25px;
    font-size: 21px;
    color: #000000;
    font-weight: 400;
}

.left_cat
{

    display: inline-block;
    width: 24%;
    background: #FFFFFF;
    -webkit-box-shadow: -3px 6px 10px 0px rgba(50, 50, 50, 0.20);
    -moz-box-shadow: -3px 6px 10px 0px rgba(50, 50, 50, 0.20);
    box-shadow: -3px 6px 10px 0px rgba(50, 50, 50, 0.20);
}

.left_cat .title
{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 10px;
    display:none;
}

.left_cat ul li a
{
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    padding: 17px;
    /* padding-top: 8px; */
    /* padding-bottom: 8px; */
    display: block;
    border-bottom: 1px solid #F5F4F4;
    border-left: 5px solid #F5F4F4;
}

.left_cat ul li.active a
{
    border-bottom: 1px solid #8CC63F;
    border-left: 4px solid #8CC63F;
    color:#8CC63F;
    font-size: 15px;
    font-weight: 400;
    padding: 17px;
}

.left_cat ul li a:hover
{

    border-bottom: 1px solid #8CC63F;
    border-left: 4px solid #8CC63F;
    color:#8CC63F;
    text-decoration:none;
    font-size: 15px;
    font-weight: 400;
    padding: 17px;
}
.cat
{

    display: inline-block;
    width: 68%;
    margin-left:7%;
    vertical-align: top;
}

.cat h1
{
    color: #8CC63F;
    font-size: 36px;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 40px;
    display:none;

}

.cat ul.cat_nav
{
    margin-bottom: 50px;
    display:none;
}

.cat ul.cat_nav li
{
    display:inline-block;
}

.cat ul.cat_nav li a
{

    border-width: 1px;
    border-style: solid;
    border-color: #009245;
    border-radius: 3px;
    line-height: 32px;
    color: #000000;
    font-size: 22px;
    text-align: center;
    font-weight: 400;
    border-style: dashed;
    padding: 4px 25px;
    margin-right: 30px;
}

.cat ul.cat_nav li:last-child a
{
    margin-right:0;
}

.cat ul.cat_nav li a:hover
{
    border: #FFFFFF solid 1px;
}

.cat .cat_row
{
    /* margin-top: 40px; */
    margin-bottom: 40px;
}

.cat .cat_row .row_title a
{
    display: block;
    border-style: solid;
    border-color: #009245;
    color: #000000;
    font-size: 26px;
    font-weight: 400;
    border-width: 0px 0px 1px;
    padding-bottom: 9px;
    margin-bottom: 16px;
}

.cat .cat_row .row_img
{
    display:inline-block;
    width:30%;
}

.cat .cat_row .row_info
{
    display:inline-block;
    width:69%;
    vertical-align:top;
}

.cat .cat_row .row_img a img
{
    max-width: 100%;
}

.cat .cat_row .row_info .info_1 span
{
    display:block;
    color: #009245;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.cat .cat_row .row_info .info_1 ul li
{
    display:inline-block;
    text-align:center;
    margin-right: 5px;
    margin-top: 10px;
}

.cat .cat_row .row_info .info_1 ul li span
{
    width: 43px;
    height: 43px;
    border-width: 1px;
    border-style: solid;
    border-color: #009245;
    border-radius: 1000px;
    /* padding-bottom: 14px; */
    text-align: center;
    margin: 0;
    line-height: 40px;
}

.cat .cat_row .row_info .info_2
{
    margin-top: 20px;
}

.cat .cat_row .row_info .info_2 ul
{
    margin-bottom: 20px;
}

.cat .cat_row .row_info .info_2 ul li
{
    display: inline-table;
    width: 31.3%;
    vertical-align: top;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    border-right: 1px solid #39B54A;
    padding-right: 1%;
    padding-left: 1%;
    height: 69px;

}

.cat .cat_row .row_info .info_2 ul li:first-child
{
    padding-left:0;
}

.cat .cat_row .row_info .info_2 ul li:last-child
{
    padding-right:0;
    border:0;
}

.cat .cat_row .row_info .info_3 span
{
    display:block;
    color: #009245;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.cat .cat_row .row_info .info_4
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.clear
{
    clear:both;
}

a.sb
{
    display:inline-block;
    float:left;
    margin-right: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #39B54A;
    border-radius: 3px;
    color: #000000;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    padding: 5px 20px;
}

a.sb:hover
{
    background:#39B54A;
    color:#FFFFFF;
}

a.sb_buy
{
    display: inline-block;
    float: left;
    margin-right: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #39B54A;
    border-radius: 3px;
    color: #000000;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    padding: 5px 20px;
    padding-left: 40px;
    background: #FFFFFF url(/assets/basetheme-design/images/basket_small.png) no-repeat 6px center;
}

a.sb_buy:hover
{
    background:  #39B54A  url(/assets/basetheme-design/images/basket_small_hover.png) no-repeat 6px center;;
    color:#FFFFFF ;
}

.cat .cat_row .row_info .info_4 .price
{
    float:right;
    color: #009245;
    font-size: 18px;
    font-weight: 400;
    padding-top: 5px;
}

.cat .cat_row .row_info .info_4 .price span
{
    font-size: 23px;
}

.cat .cart
{
    margin-top:0;
}

.cat .cart .row_info_2
{
    display:inline-block;
    width:100%;
    vertical-align:top;
}

.cat .cart .row_info_2 .info_3
{
    margin-bottom: 30px;
}

.cat .cart .row_info_2 .info_3 p
{
    margin-bottom: 10px;
}

.cat .cart .row_info_2 .info_3 span
{
    display:block;
    color: #009245;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.cat .cart .row_info_2 .info_4
{
    margin-bottom: 30px;
}

.cat .cart .row_info_2 .info_4 span
{
    color: #009245;
    font-size: 26px;
    font-weight: 400;
}

.cat .cart .row_info_2 .info_4 .price_table
{
    font-size: 18px;
    font-weight: 400;
}

.cat .cart .row_info_2 .info_4 .price_table div
{
    display: inline-table;
    width: 58%;
    margin-top: 10px;
}

.cat .cart .row_info_2 .info_4 .price_table div:first-child
{
    width: 20%;
    font-size:14px;
    font-weight: 400;
}

.cat .cart .row_info_2 .info_4 .price_table div:last-child
{
    width: 20%;
}

.cat .cart .row_info_2 .info_4 .price_table a.sb
{
    float: none;
    padding: 4px 0;
    width: 100%;
}

.cat .cart .row_info_2 .info_4 .price_table div span
{
    font-size: 18px;
    font-weight: 400;
    color:#000000;
}

.cat .cart .row_info_2 .info_4 small
{
    margin-top: 10px;
    display: block;
}

.cat .cart .row_info_2 .info_5
{
    margin-bottom: 30px;
}

.cat .cart .row_info_2 .info_5 span.title
{
    color: #009245;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 20px;
    display: block;
}

#tabs {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}

#tabs li{
    float: left;
    margin-right: 20px;
}

#tabs li:nth-child(7)
{
    margin-right:0;
}

#tabs li a {
    color: #000000;
    font-size: 14px;
    font-family: pt-sans, sans-serif;
    font-weight: 400;
    text-decoration:underline;

}

#tabs li a:hover {
    color:#009245;
}

#tabs_container {
    padding: 7px 0;
    overflow: hidden;
    position: relative;
}

#tabs_container div {
}

.transition {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s;
}

.make_transist {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.hidescale {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    opacity: 0;
}

.showscale {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;

    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s;
}

.hideleft {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.showleft {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;

    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s;
}

.hidescaleup {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.showscaleup {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;

    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s;
}

.hideflip {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;

    -webkit-transform: rotatey(-90deg) scale(1.1);
    -moz-transform: rotatey(-90deg) scale(1.1);
    -o-transform: rotatey(-90deg) scale(1.1);
    -ms-transform: rotatey(-90deg) scale(1.1);
    transform: rotatey(-90deg) scale(1.1);

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.showflip {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;

    -webkit-transition-delay: .3s;
    -moz-transition-delay: .3s;
    -o-transition-delay: .3s;
    -ms-transition-delay: .3s;
    transition-delay: .3s;

    -webkit-transform: rotatey(0deg) scale(1);
    -moz-transform: rotatey(0deg) scale(1);
    -o-transform: rotatey(0deg) scale(1);
    -ms-transform: rotatey(0deg) scale(1);
    transform: rotatey(0deg) scale(1);

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

#tabs li a.tabulous_active {
    color:#009245;
}

.tabulousclear {
    display: block;
    clear: both;
}

#tabs .menu_table
{
    font-size: 14px;
    font-weight: 200;
    display:block;
    border-style: solid;
    border-color: #009245;
    border-width: 0px 0px 1px 0;
    border-style: dashed;
    padding-bottom: 3px;
    padding-top:8px;
}

#tabs .menu_table span
{
    display: inline-table;
    width: 58%;
    margin-top: 10px;
    font-weight: 200;
}

#tabs .menu_table span:first-child
{
    width: 30%;
    font-size: 20px;
    font-weight: 400;
}

#tabs .menu_table span:last-child
{
    width: 10%;
}

#feedback {display:none;}

#politic {display:none;}

#buy {display:none;}

.how_we_work h1
{
    /*  font-size: 33px;
      color: #8CC63F;
      font-family: 'PT Sans', sans-serif;
      margin-bottom: 40px;
      font-weight: 700;*/
}
.how_we_work
{
    display:block;
    width: 100%;
}


.how_we_work .row
{
    width: 29%;
    display:inline-block;
    text-align:center;
    padding: 3%;
    vertical-align: top;
    padding-top: 0;
    padding-bottom: 0;
}

.how_we_work .row:first-child
{
    padding-left:0;
}

.how_we_work .row:last-child
{
    padding-right:0;
}

.how_we_work .row a.sb
{
    display:none;
    float: none;
    margin-right: 0;
    margin-top: 10px;
}

.how_we_work .row .img
{
    display:inline-block;
    width:180px;
    height: 180px;
    background-color:#FFFFFF;
    background-image:url(/assets/basetheme-design/images/how_we_work_1.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size: 140px;
    border-width: 1px;
    border-style: solid;
    border-color: #39B54A;
    border-radius: 100px;

}

.how_we_work .row:nth-child(2) .img
{
    background-image:url(/assets/basetheme-design/images/how_we_work_2.png);
    background-position: center 30px;
    background-size: 195px;
}

.how_we_work .row:nth-child(3) .img
{
    background-image:url(/assets/basetheme-design/images/how_we_work_3.png);
    background-size: 123px;
}


.how_we_work .row .txt
{
    text-align: center;
    font-size: 14px;
    color: #000000;
    font-family: pt-sans, sans-serif;
    font-weight: 400;
}

.how_we_work .row .txt p
{
    height: 60px;
}

.how_we_work .row .txt span
{
    display:block;
    text-transform:uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.what .row_left
{
}

.zakaz form
{
    width: 80%;
    margin-bottom:10%;

}

.zakaz form input[type=text], .zakaz form select
{
    padding: 15px;
    width: 100%;
    display: inline-block;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #DCDCDC;
    color:#92909A;
}

.orderok {width: 100%;font-size: 18px;border-bottom: 1px solid #BDBDBD;padding-bottom: 14px;display: block;}
.sale_order_full_table form input[type=submit] {display: block;padding: 0 43px;color: #8CC63F;font-size: 20px;font-weight: bold;background: #fff;border: 1px solid #8CC63F;margin: 0 auto;margin-top: 15px;margin-bottom: 15px;float: left;width: 200px;height: 50px;}
.sale_order_full_table form input[type=submit]:hover {background: #8CC63F;color: #FFFFFF;border: 1px solid #8CC63F;cursor: pointer;}

label[for="ID_PAY_SYSTEM_ID_1"] div{line-height: 30px !important;}
#sale_order_props >div:nth-last-child(even) div{margin-bottom: 25px !important;}

.zakaz .info_tovar
{
    margin-bottom: 40px;
}

.zakaz .info_tovar .price_table
{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #D0D0D0;

}

.zakaz .info_tovar .price_table div
{
    display: inline-block;
    width: 32.5%;
    vertical-align: top;
}

.zakaz .info_tovar .price_table:first-child
{
    font-size: 20px;
}

.zakaz form button
{
    display: block;
    padding: 11px 43px;
    color: #8CC63F;
    font-size: 20px;
    font-weight: bold;
    background: #fff;
    border: 1px solid #8CC63F;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 15px;
    float:left;
}

.zakaz form button:hover
{
    background: #8CC63F;
    color:#FFFFFF;
    border: 1px solid #8CC63F;
    cursor:pointer;
}

.agree-check {margin-top:15px;width: 35%;}
.agree-check  input[type=checkbox] {width: 17px;height: 21px;}
.agree-check  span {margin-top: 3px;float:right;}

.zakaz .error {
    border: 1px solid #FF6868;
    /* border-radius: 10px; */
    padding: 14px;
    position: relative;
    background: #FF6868;
    color: #fff;
    font-weight: bold;
}
.zakaz .error::after, .zakaz .error::before {
    content: '';
    position: absolute;
    background: #FF6868;
    left: 20px;
    top: -6px;
    width: 10px;
    height: 10px;
    z-index: -1;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.zakaz .error::before {
    z-index: 1;
    box-shadow: none;
}

.bx_block .bx_element {width:192px;}
.new_pays .bx_description {min-height: 32px;padding: 13px 20px 13px 36px !important;}
.bx_order_make .bx_section:first-child  {margin-top: 10px;}
.bx_order_make .bx_block {padding:0 !important;}

.step
{
    margin-bottom: 30px;
    margin-top:5%;
}

.step li {

    position: relative;
    width: 21%;
    height: 18px;
    display: inline-block;
    padding: 16px;
    padding-left: 7%;
    padding-right: 5%;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    z-index:1;
}
.step li::after {
    content: '';
    position: absolute;
    right: -45px;
    top: 0px;
    border: 25px solid transparent;

}

.step li:nth-child(1)
{
    background: #C0E095;
    z-index:3;
}

.step li:nth-child(1):after {
    border-left: 20px solid #C0E095;
}

.step li:nth-child(2)
{
    background: #C0E095;
    z-index:2;
    margin-left: -3px;
}

.step li:nth-child(2):after {
    border-left: 20px solid #C0E095;
}

.step li:nth-child(3)
{
    background: #D0ECA9;
    z-index:1;
    margin-left: -3px;
}

.step li:nth-child(3):after {
    border-left: 20px solid #D0ECA9;
}

.step li.active {
    background: #8CC63F;
}
.step li.noactive {background: #C0E095 url(/assets/basetheme-design/images/line_2.png) no-repeat right center; !important;z-index: 3 !important;}
.step li.active::after {

    border-left: 20px solid #8CC63F;
}
/* green */
.icheck_line-green {
    width:18%;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 15px 20px 15px 36px;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    background: #C0E095;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}

.icheck_line-green .icheck_line-icon {
    position: absolute;
    top: 50%;
    left: 13px;
    width: 13px;
    height: 11px;
    margin: -5px 0 0 0;
    padding: 0;
    overflow: hidden;
    background: url(/assets/basetheme-design/images/line.png) no-repeat;
    border: none;
}
.icheck_line-green.hover,
.icheck_line-green:hover {
    background: #8CC63F;
}
.icheck_line-green.static:hover,
.icheck_line-green.checked {
    background: #8CC63F;
}
.icheck_line-green.checked .icheck_line-icon {
    background-position: -15px 0;
}
.icheck_line-green.disabled {
    background: #89E6C4;
    cursor: default;
}
.icheck_line-green.disabled .icheck_line-icon {
    background-position: -30px 0;
}
.icheck_line-green.checked.disabled {
    background: #89E6C4;
}
.icheck_line-green.checked.disabled .icheck_line-icon {
    background-position: -45px 0;
}

.article {width: 100%;position: relative;display: inline-block;margin-bottom: 4%;}
.article .leftblock{width: 33%;display: inline-block;}
.article .rightblock{width: 66%;display: inline-block;float: right;}
.article .rightblock span {display:block;}
.article .rightblock .titlenews {font-family: 'PT Sans', sans-serif;color: #8cc63f;font-size: 20px;font-weight: 400;line-height: 21px;margin-bottom: 1%;}
.article .rightblock .datenews {margin-top: 15px;margin-bottom: 10px;color:#999999;font-size: 12px;}
.article .rightblock .allnews {font-size: 14px;font-family: 'PT Sans';line-height: 21px;}
.article .rightblock .sorcenews{display: inline-block;width:55%;margin-bottom: 2%;}
.article .rightblock .sorcenews span:first-child{font-size: 26px;line-height: 28px;}
.article .rightblock .sorcenews span:last-child {color: #999999;font-size: 12px;}
.article .rightblock .morebtn {background-image: url('/assets/basetheme-design/images/otherlink.jpg');display: inline-block;background-repeat: no-repeat;background-position: right -4px;width: 132px;height: 27px;cursor: pointer;line-height: 27px;padding-left: 15px;float: right;margin-top: 0%;}
.article .rightblock .morebtn a {color:#000 !important;}

.sert-block {background-image: url('/assets/basetheme-design/images/slidesert-bg.png');background-position: -55px -118px;margin-top: -44px;}
.sert-block .title {padding-top: 16px;}
.sert-block span  {display:block;}
.sert-block img {position: absolute;right: 87px;top: -18px;}
.sert-block .title .greentitle  {font-size: 44px;font-weight: 800;font-family: 'Open Sans', sans-serif;color: #8dc63f !important;text-transform: uppercase;line-height: 60px;}
.sert-block .title .mintitle {font-weight: 300;font-family: 'Open Sans';font-size: 38px;color: #424242;}
.sert-block .txt-sertif {width:470px;text-align:center;display:block;margin:50px 0 50px 17px;font-size: 18px;}
.sert-block .order-sertif {width: 540px;height: 228px;}
.sert-block .order-sertif .line {font-size: 16px;padding: 14px 0 0 14px;width: 353px;height: 50px;background: url(/assets/basetheme-design/images/bgline.png);display: inline-block;}
.sert-block .order-sertif .btn-sertif {background-color: #8dc63f;width: 137px;height: 64px;display: inline-block;float: right;cursor: pointer;font-weight: 300;font-size: 28px;font-family: 'Open Sans';color: #fff;line-height: 60px;padding-left: 23px;}
.order-sertif .btn-sertif  a {text-decoration:none;color: #fff !important;font-family: 'Open Sans';font-weight: 300;}


/* Retina support */
/*@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheck_line-green .icheck_line-icon {
        background-image: url(../img/line@2x.png);
        -webkit-background-size: 60px 13px;
        background-size: 60px 13px;
    }
}*/



/*@media screen and (max-width: 1085px)
{
.why_us div .row {
    width: 49%;
    margin-right: 1%;
}

.why_us div .row .icon {
	margin-bottom: 20px;
}
.cat .cat_row .row_info .info_4 .price
{
	margin-top: 20px;
    float: left;
    clear: both;
}

}

@media screen and (max-width: 1050px)
{

.footer .links1, .footer .links2, .footer .links3, .footer .contacts
{
	margin:0 2%;
}

}
@media screen and (max-width: 1110px)
{
.programms .item {
	margin:0 30px;
}
}
@media screen and (max-width: 1000px)
{
.why_us div .row
{
	text-align:center;
}
.programms .item {
	margin:0 20px;
}
}
*/
/*@media screen and (max-width: 890px) {
	.header .header_size
	{
		position: relative;
		margin: 0 auto;
		padding: 2% 3% 2% 3%;
		max-width: 1030px;
	}

    .header .logo {
		margin-bottom:0;
        float: left;
    }

    .header .logo img {
        height: 40px;
        width: 159px;
    }

    .phones, .top_main li.ico, .footer .links1, .footer .links2, .footer .links3, .bx-wrapper, .podbor {
        display: none;
    }

    .sl_tog {
        background: url(img/mToggleIco.jpg) center center no-repeat;
        width: 36px;
        height: 25px;
        padding: 7px;
        float: right;
    }

    .top_main li, .top_main li.act, .top_main li:hover {
        display: block;
        float: none;
        border-bottom: 1px solid #BCBCBC;
        text-align: left;
    }

    .top_main ul {
        display: none;
        margin: 0;
    }

    .top_main {
        border-bottom: none;
    }

    .top_main a {
        text-transform: none;
    }

    .slider_top_stat, .programms .hr, .other_content_index .item1, .other_content_index .item2, .other_content_index .item3 {
    margin-bottom: 30px;
    }



    .programms .item {
        margin: 20px;
    }
    .programms .item:nth-child(1)
{
	margin-left:20px;
}

.programms .item:nth-child(5)
{
	margin-right:20px;
}
    .other_content_index {
        padding-left: 30px;
    }

    .content {
        margin: 0 10px;
    }

	.footer .contacts
	{
		margin:0;
		float:none;
	}
	.cont-info {font-size: 14px;line-height:20px; margin-top:5%;}
	.contact-img {width: 200px;height: 215px;}
	.childmenu {display:none;}

}

@media screen and (max-width: 800px)
{
	.why_us div .row {
		display:block;
		text-align:left;
		width: 100%;
		margin-right:0;
	}

	.why_us div .row .txt
	{
		display: inline-block;
		width: 72%;
	}

	.why_us div .row .icon
{
	display: inline-block;
    width: 100px;
	height:100px;

}

.left_cat
	{
		    display: block;
    width: 110%;
    margin-bottom: 30px;
    margin-left: -3%;
	-webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
	}

.cat
{
	display: inline-block;
    width: 100%;
    margin-left: 0;
    vertical-align: top;
}

.cat ul.cat_nav li a
{
	margin-right: 10px;
}

.about_us_top
{
	width: 100%;
}

img.human
{
	display:none;
}

.reviews .float, .reviews .item2 .float {
    float: none;
    margin: 0 0 40px 0;
    text-align: center;
    text-align: -webkit-center;
}

.reviews .info, .reviews .item2 .info
{
	height:auto;
}

.cat .cat_row .row_info .info_2 ul li
{
	display:block;
	border:0;
	margin-bottom: 5px;
	border-left: 1px solid #39B54A;
	width: 100%;
	padding: 10px;
	height:auto;
}

.cat .cat_row .row_info .info_2 ul li:last-child
{
	border-left: 1px solid #39B54A;
}

.cat .cat_row .row_info .info_2 ul li:first-child
{
	padding-left: 10px;
}

.cont-info {font-size: 14px;line-height:20px;}
.contact-img {width: 200px;height: 215px;}
.childmenu {display:none;}

@media screen and (max-width: 500px)
{
	.why_us div .row
{
	text-align:center;
}

.childmenu {display:none;}
.cat .cat_row .row_img {
    display: block;
    width: 100%;
}

.cat .cat_row .row_info {
    display: block;
    width: 100%;
    vertical-align: top;
}

.cat ul.cat_nav li {
    display: block;
}

.cat ul.cat_nav li a {
    margin-right: 0;
    display: block;
    margin-bottom: 10px;
}

.cat .cart .row_info_2 .info_4 .price_table div span
{
	display:none;
}

.cat .cart .row_info_2 .info_4 .price_table div
{
	width:50%;
}

.cat .cart .row_info_2 .info_5
{
	display:none;
}
.other_content_index .item1, .other_content_index .item2, .other_content_index .item3
{
	background-size: 35%;
    padding-left: 90px;
	margin-bottom: 10px;
}

.about_us_top h1
{
	font-size:28px;
	line-height:normal;
}
.cont-info {font-size: 14px;line-height:20px;}
.contact-img {width: 200px;height: 215px;}
.childmenu {display:none;}
}
*/